{% load static %}
<footer class="border-top text-muted">
            <div class="container" id="teste">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center text-white">
                        &copy; printing and typesetting industry<br>
                        printing and typesetting industry. Lorem Ipsum has  <br>
                        CPNJ xx.xxx.xxx/xxx-xx 
                    </div>
                    <div class="col-12 col-md-4 text-center ">
                        <a href="#" class="text-decoration-none text-white">
                            Política de Privacidade
                        </a><br>
                        <a href="#" class="text-decoration-none text-white">
                            Termos de Uso
                        </a><br>
                        <a href="#" class="text-decoration-none text-white">
                            Quem Somos
                        </a><br>
                    </div>
                    <div class="col-12 col-md-4 text-center text-white">
                        <a href="#" class="text-decoration-none text-white">
                            Contato 
                        </a><br>
                        E-mail: <a href="mailto:email@dominio.com" class="text-decoration-none text-white">
                            email@email.com
                        </a><br>
                        Telefone: <a href="phone:28999990000" class="text-decoration-none text-white">
                            (28) 99999-0000
                        </a>
                    </div>
                </div>
            </div>
        </footer>


<script src="{% static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{% static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{% static 'assets/custom/js/scripts.js'%}"></script>